apiVersion: v1
kind: Service
metadata:
  name: {{ include "medic.fullname" . }}-api
  namespace: {{ include "medic.namespace" . }}
  labels:
    {{- include "medic.labels" . | nindent 4 }}
    app.kubernetes.io/component: api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "medic.api.selectorLabels" . | nindent 4 }}
